.edit_btn, .delete_btn{
	float:left;
	display:block;
	width:50px;
	height:100%;
	text-align:center;
	line-height:36px;
}
.form_style{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

/*ÊÇ·ñ³åÍ»hello*/

/******************
##########################################################
##########################################################
******************/
