<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>企业信息</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/school_manager/enterprise_message.css">
<script src="../libs/jquery.min.js"></script>
<script src="../plugins/layer/layer.js"></script>
<script src="../libs/bootstrap.min.js"></script>
<script src="../libs/vue.min.js"></script>
<script src="../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../js/common.js"></script>
</head>
<body>
<div id="rgapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.username" @keyup.enter="query" placeholder="用户名">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<div class="btn-group" role="group" aria-label="...">
				<a v-if="hasPermission('sys:user:save')" class="btn btn-primary btn-sm" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<a v-if="hasPermission('sys:user:update')" class="btn btn-primary btn-sm" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
				<a v-if="hasPermission('sys:user:delete')" class="btn btn-primary btn-sm" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				
				<a v-if="hasPermission('sys:user:exportExcel')" class="btn btn-primary btn-sm" @click="exportExcel"><i class="fa fa-trash-o"></i>&nbsp;导出</a>
			</div>
		</div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>
</div>

<script src="../js/school_manager/enterprise_message.js"></script>
</body>
</html>